<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>El Ak-47</title>
    <link rel="stylesheet" href="/css/ak47.css">
</head>
<body>

    <header>
        <nav>
            <article>
                <h1>EncicloGuerra</h1>
            </article>
      <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/masdatos.html">Mas Datos Belicos</a></li>
      </ul>
        </nav>
    </header>

    <main>
        <br>
        <br>
        <br>
         <div class="tu">
           <h2>El AK-47</h2>
         </div>
         <br>
         <section>
            <div class="ar">
              <article class="yu">
                  <img src="/img/ak47_____.PNG" alt="">
                  <h4>AK-47</h4>
              </article>
            </div>
         </section>
         <section>
            <br>
            <article>
                <p>
                    El AK-47, también conocido como Avtomat Kalashnikova, es un fusil de asalto desarrollado por el ingeniero soviético Mijaíl Kaláshnikov. Su diseño comenzó en 1945, al final de la Segunda Guerra Mundial, y el arma fue adoptada oficialmente por las fuerzas armadas soviéticas en 1949. Kaláshnikov, un joven sargento herido en la guerra, buscaba crear un arma confiable, fácil de usar y mantener, capaz de ser producida en masa.
                </p>
            </article>
            <br>
            <article>
                El AK-47 se distingue por su simplicidad, durabilidad y facilidad de mantenimiento. Estas características lo convirtieron en el arma de fuego más producida en la historia, con más de 100 millones de unidades fabricadas hasta la fecha, incluyendo variantes y copias producidas en diferentes países
            </article>
         </section>
         <br>
         <div class="tu">
            <h2>Diseño y Características Técnicas</h2>
         </div>
         <br>
         <section>
            <article>
                El diseño del AK-47 incluye un sistema de pistón de gas que utiliza el gas expulsado durante el disparo para ciclar el mecanismo de acción, permitiendo disparos automáticos y semiautomáticos. Su construcción simple, con pocas piezas móviles, y el uso de materiales robustos lo hacen extremadamente resistente a condiciones adversas como suciedad, barro y temperaturas extremas.
                <br>
                El AK-47 es conocido por su diseño robusto y funcional. Algunas de sus características técnicas clave incluyen:
                
                <ul>
                    <br>
                    <li>Calibre: 7.62×39mm.</li>
                    <br>
                    <li>Peso: Aproximadamente 4.3 kg con cargador lleno.</li>
                    <br>
                    <li>Longitud: 870 mm.</li>
                    <br>
                    <li>Cadencia de fuego: Aproximadamente 600 disparos por minuto.</li>
                    <br>
                    <li>Capacidad del cargador: Típicamente 30 cartuchos, aunque existen cargadores de mayor capacidad.</li>
                    <br>
                    <li>Alcance efectivo: 300-400 metros.</li>
                </ul>
                <br>
            </article>
         </section>
         <div class="tu">
           <h2>Producción y Distribución</h2>
         </div>
         <br>
         <section>
            <article>
                <p>
                    El AK-47 y sus variantes han sido producidos en numerosos países, tanto bajo licencia como de manera ilegal. Entre los productores principales se encuentran la Unión Soviética (ahora Rusia), China, Rumania, Polonia, Bulgaria y Egipto, entre otros. La facilidad de producción y los bajos costos asociados permitieron su proliferación en todo el mundo.
                </p>
            </article>
            <br>
            <article>
                <p>
                    El fusil ha sido ampliamente distribuido a lo largo de las décadas, utilizado tanto por fuerzas armadas regulares como por grupos insurgentes, guerrillas y organizaciones paramilitares. Su disponibilidad y fiabilidad lo han convertido en un símbolo de los conflictos armados en muchas regiones del mundo.
                </p>
            </article>
         </section>
         <br>
         <div class="tu">
             <h2>Variantes y Modernizaciones
            </h2>
         </div>
         <br>
         <section>
               <article>
                <p>
                    Desde su introducción, el AK-47 ha visto numerosas variantes y mejoras. Algunas de las más destacadas incluyen:
                    <ul>
                        <br>
                        <li>AKM: Una versión modernizada introducida en 1959, más ligera y con algunas mejoras en la manufactura, como el uso de estampado de chapa en lugar de fresado.</li>
                        <br>
                        <li>AK-74: Introducido en la década de 1970, utiliza el calibre más pequeño 5.45×39mm, ofreciendo mayor precisión y menor retroceso.
                        </li>
                        <br>
                        <li>AK-103: Una versión moderna que combina características del AK-47 y el AK-74, usando el calibre original de 7.62×39mm con mejoras en ergonomía y materiales.</li>
                    </ul>
                </p>
               </article>
               <br>
               <article>
                <p>Además, muchos países han desarrollado sus propias variantes adaptadas a necesidades específicas y capacidades industriales locales. Estas variantes pueden incluir cambios en los materiales, ergonomía, sistemas de mira y otros componentes.</p>
               </article>
         </section>
         <br>
         <div class="tu">
           <h2>Uso en Conflictos</h2>
         </div>
         <br>
         <section>
              <article>
                    <p>
                        El AK-47 ha sido utilizado en prácticamente todos los conflictos armados desde su introducción, convirtiéndose en un arma emblemática de las guerras de guerrillas y movimientos de liberación en África, Asia y América Latina. Algunos de los conflictos más notables en los que el AK-47 ha jugado un papel importante incluyen:
                    </p>
              </article>
              <br>
              <article>
               <p>
                Guerra de Vietnam: Utilizado extensamente por las fuerzas del Viet Cong y el Ejército de Vietnam del Norte.
               </p>
               <br>
               <p>Guerra de Afganistán (1979-1989): Utilizado por las fuerzas soviéticas y los muyahidines afganos.</p>
               <br>
               <p>Conflictos en África: Empleado por diversos grupos insurgentes y fuerzas gubernamentales en países como Angola, Mozambique, Somalia y Sudán.</p>
               <br>
               <p>Guerra Civil en Siria: Utilizado por diversas facciones en conflicto.</p>
              </article>
         </section>
         <br>
         <div class="tu">
          <h2>Impacto Cultural</h2>
         </div>
         <br>
         <section>
            <article>
                <p>
                    El AK-47 ha trascendido su rol como arma de fuego para convertirse en un ícono cultural. Su imagen es reconocible en todo el mundo y ha sido representada en innumerables películas, videojuegos y literatura. En algunos países, incluso aparece en banderas y escudos de armas, simbolizando la lucha y la resistencia.
                </p>
                <br>
                <p>El diseño del AK-47 también ha inspirado el desarrollo de otros fusiles de asalto en diversos países, adaptando su robustez y simplicidad a diferentes contextos y necesidades militares.</p>
            </article>
            <br>
            <article>
                   <p>
                    El AK-47 es una de las armas de fuego más influyentes y reconocidas en la historia de la humanidad. Su diseño sencillo, fiabilidad y capacidad de producción en masa han asegurado su lugar en la historia militar y cultural. A pesar de la introducción de armas más modernas y tecnológicamente avanzadas, el AK-47 sigue siendo una elección preferida en muchos conflictos armados, demostrando la perdurabilidad y eficacia del diseño de Mijaíl Kaláshnikov.
                   </p>
            </article>
         </section>


    </main>

    <footer>
        <article>
            <br>
            <p>Derechos Reservados a Enciclo-Guerra</p>
            <i class='bx bxl-discord-alt'></i>
            <i class='bx bxl-instagram' ></i>
            <i class='bx bx-book'></i>
            <br>
        </article>
    </footer>

</body>
</html>