<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Mas Datos Belicos</title>
    <link rel="stylesheet" href="/css/masdatos.css">
</head>
<body>
    <header>
        <nav>
            <article>
                <h1>EncicloGuerra</h1>
            </article>
      <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/masdatos.html">Mas Datos Belicos</a></li>
      </ul>
        </nav>
    </header>
    <br>
    

    <main>
        <br>
        <section>
            <div class="hi">
                <article>
                    <h2>Poema sobre la guerra: Dulce et decorum est - Wilfred Owen</h2>
                    <p>Encorvados, como mendigos ancianos con el hato a cuestas,
                        Chocando las rodillas y tosiendo como viejas, maldecimos a través del lodo.
                        Logramos dar la espalda a los acechantes destellos enemigos
                        y emprendimos el penoso camino hacia nuestro retirado descanso.
                        Los hombres marchaban dormidos. Muchos iban descalzos,
                        pero avanzaban, cojeando, con los pies bañados en sangre.
                        Todos iban lisiados, todos cegados, ebrios de fatiga, sordos incluso
                        al silbido de los rezagados obuses 5.9 que detrás de ellos caían.
                        <br>
                        <br>
                        ¡Gas, GAS! ¡Rápido muchachos! Torpemente, a tientas nos ponemos
                        justo a tiempo las incómodas máscaras,
                        pero uno de nosotros quedó gritando, indeciso
                        forcejeando, como atrapado en cal viva o en fuego...
                        Vagamente, a través de los vidrios empañados y una verde luz espesa
                        vi cómo se ahogaba hasta el fondo de un glauco mar.
                        <br>
                        <br>
                        En todos mis sueños, ante mi mirada impotente,
                        se desploma ante mí y es engullido por una cloaca, asfixiado, ahogándose.
                        <br>
                        <br>
                        Si también tú, en tus pesadillas, pudieras ir marcando el paso
                        detrás del carretón en el que lo arrojamos
                        y ver en su cara unos ojos blancos de angustia, retorciéndose,
                        su cara de ahorcado, como la de un demonio hastiado de su propio pecado;
                        si tú también, en cada tumbo, pudieras oír la sangre
                        saliendo a chorros de sus pulmones consumidos,
                        obscena como un cáncer, amarga como el pus
                        de llagas atroces e incurables en lenguas inocentes,
                        entonces, amigo mío, no contarías con tanto entusiasmo
                        a unos chicos que ansían una gloria desesperada
                        esa vieja Mentira: Dulce et decorum est
                        Pro patria mori.</p>
                </article>
            </div>
        </section>
        <section>
            <h2>ALGUNOS DE LOS CONFLICTOS MAS IMPORTANTES DEL SIGO XX</h2>

            <div class="parent">
                <div class="div1" data-aos="zoom-in-down">
                    <article class="yu">
                        <img src="/img/guerra de vietnam.PNG" alt="">
                        <a href="">LA guerra de vietnam</a>
                    </article>
                 </div>
                <div class="div2" data-aos="zoom-in-down"> 
                    <article class="yu">
                        <img src="/img/guerra del golfo.PNG" alt="">
                        <a href="">la guerra del golfo</a>
                     </article>
                </div>
                <div class="div3" data-aos="zoom-in-down"> 
                    <article class="yu">
                        <img src="/img/guerra de malvinas.PNG" alt="">
                       <a href="">la guerra de malvinas</a>
                      </article>
                </div>
                <div class="div4" data-aos="zoom-in-down">
                    <article class="yu">
                        <img src="/img/Lideres ww2.PNG" alt="">
                        <a href="/views/ww2.html">la Segunda Guerra </a>
                     </article> </div>
                </div>

            </div>
        
        </section>
        <section>
            <h2>RELATOS Y DATOS INTERESANTES</h2>

            <div class="parent">
                <div class="div1" data-aos="zoom-in-down"> 
                    <article class="yu">
                        <img src="/img/el que se nego.PNG" alt="">
                        <a href="">el que se nego a morir</a>
                    </article>
                </div>
                <div class="div2" data-aos="zoom-in-down"> 
                    <article class="yu">
                        <img src="/img/la muerte blanca.PNG" alt="">
                        <a href="">la muerte blanca</a>
                    </article>
                </div>
                <div class="div3" data-aos="zoom-in-down"> 
                    <article class="yu">
                        <img src="/img/foo fighters.PNG" alt="">
                        <a href="">los foo fighters</a>
                    </article>
                </div>
                <div class="div4" data-aos="zoom-in-down"> 
                    <article class="yu">
                        <img src="/img/incidente.PNG" alt="">
                        <a href="">el brown stigler</a>
                    </article>
                </div>
            </div>

        </section>
        <section>
            <h2>AERONAVES MILITARES</h2>

            <div class="parent">
                <div class="div1" data-aos="zoom-in-down"> 
                    <article class="yu" >
                        <img src="/img/me262.PNG" alt="">
                         <a href="">el Messerschmitt-262</a>
                    </article>
                </div>
                <div class="div2" data-aos="zoom-in-down"> 
                    <article class="yu">
                        <img src="/img/sr71.PNG" alt="">
                         <a href="">el sr-71 blackbird</a>
                    </article>
                </div>
                <div class="div3" data-aos="zoom-in-down"> 
                    <article class="yu">
                        <img src="/img/su27.PNG" alt="">
                        <a href="">el su-27 flanker</a>
                    </article>
                </div>
                <div class="div4" data-aos="zoom-in-down">
                    <article class="yu">
                        <img src="/img/mirageee.PNG" alt="">
                        <a href="/views/mirage3.html">El Mirage-III</a>
                     </article> </div>
                </div>

        </section>
        <section>
            <h2>TANQUES Y VEHICULOS BLINDADOS</h2>
        

                <div class="parent">
                    <div class="div1" data-aos="zoom-in-down"> 
                        <article class="yu">
                            <img src="/img/is3.PNG" alt="">
                            <a href="">el is-3</a>
                        </article>
                    </div>
                    <div class="div2" data-aos="zoom-in-down"> 
                        <article class="yu">
                            <img src="/img/t90.PNG" alt="">
                             <a href="">el t-90</a>
                        </article>
                    </div>
                    <div class="div3" data-aos="zoom-in-down">
                        <article class="yu">
                            <img src="/img/abrams.PNG" alt="">
                            <a href="">el mi abrams</a>
                        </article>
                    </div>
                    <div class="div4" data-aos="zoom-in-down"> 
                        <article class="yu">
                            <img src="/img/amx50.PNG" alt="">
                            <a href="">el amx-50</a>
                        </article>
                    </div>
                    </div>
                
        </section>
        <section>
            <h2>ARMAS</h2>

            <div class="parent">
                <div class="div1" data-aos="zoom-in-down"> 
                    <article class="yu">
                        <img src="/img/ar15.PNG" alt="">
                        <a href="">el ar-15</a>
                   </article>
                </div>
                <div class="div2" data-aos="zoom-in-down">
                    <article class="yu">
                        <img src="/img/famas.PNG" alt="">
                        <a href="">La famas</a>
                   </article> </div>
                <div class="div3" data-aos="zoom-in-down"> 
                    <article class="yu">
                        <img src="/img/desert eagle.PNG" alt="">
                        <a href="">la desert eagle</a>
                   </article>
                </div>
                <div class="div4" data-aos="zoom-in-down">
                    <article class="yu">
                        <img src="/img/ak47_____.PNG" alt="">
                        <a href="/views/ak47.html">El AK-47</a>
                     </article> </div>
                </div>

        </section>
    </main>

    <footer>
        <article>
            <br>
            <p>Derechos Reservados a Enciclo-Guerra</p>
            <i class='bx bxl-discord-alt'></i>
            <i class='bx bxl-instagram' ></i>
            <i class='bx bx-book'></i>
            <br>
        </article>
    </footer>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>