<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>El Mirage-III</title>
    <link rel="stylesheet" href="css/mirage3.css">
</head>
<body>

    <header>
        <nav>
            <article>
                <h1>EncicloGuerra</h1>
            </article>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="views/masdatos.html">Mas Datos Belicos</a></li>
      </ul>
        </nav>
    </header>
    <main>
        <br>
        <br>
        <br>
        <br>
       <div class="tu">
       <h2>El Dassault Mirage III</h2> 
       </div>
       <br>   
       <section>
        <div class="ar">
           <article class="yu">
            <img src="img/mirageeeee.PNG" alt="">
            <h4>Mirage IIIE</h4>
           </article>
        </div>
       </section>
       <section>
        <br>
        <article>
            <p>
                El Dassault Mirage III es uno de los cazas supersónicos más icónicos y ampliamente utilizados en la historia de la aviación militar. Desarrollado por la compañía francesa Dassault Aviation en la década de 1950, el Mirage III ha jugado un papel crucial en la defensa aérea de muchos países alrededor del mundo. Aquí hay una descripción general de sus características, historia y variaciones.
            </p>
        </article>
       </section>
       <br>
       <div class="tu">
        <h2>Historia y Desarrollo</h2>
       </div>   
       <section>
        <br>
        <article>
            <h3>Orígenes</h3>
            <p>El desarrollo del Mirage III comenzó en respuesta a un requerimiento de la Fuerza Aérea Francesa en 1952, que buscaba un avión interceptor que pudiera alcanzar velocidades supersónicas. Marcel Dassault, fundador de Dassault Aviation, lideró el diseño del prototipo inicial llamado Mirage I. Sin embargo, se decidió que el Mirage I era demasiado pequeño para cumplir con los requisitos operacionales, lo que llevó al desarrollo del Mirage II y, finalmente, del Mirage III.</p>
        </article>
        <br>
        <article>
            <h3>Primer Vuelo y Producción</h3>
            <p>El primer prototipo del Mirage III realizó su vuelo inaugural el 17 de noviembre de 1956. Equipado con un motor turborreactor Snecma Atar, el Mirage III fue uno de los primeros cazas europeos en superar la velocidad Mach 2. Su diseño delta característico, sin cola horizontal, le proporcionaba una excelente maniobrabilidad a altas velocidades y altitudes.</p>
        </article>
        <br>
        <article>
            <h3>Entrada en Servicio</h3>
            <p>El Mirage III entró en servicio con la Fuerza Aérea Francesa en 1961. Debido a su éxito, rápidamente atrajo la atención de otras fuerzas aéreas. Su simplicidad, eficacia y capacidad para ser adaptado a diversas funciones hicieron que fuera adoptado por más de veinte países.</p>
        </article>
       </section>
      
       <div class="tu">
         <h2>Características Técnicas</h2>
       </div>
       <br>
      <section>
        <article>
            <p>
                El Mirage III está propulsado por un motor turborreactor SNECMA Atar 9B, que le permite alcanzar velocidades máximas de Mach 2.2. Tiene un techo operativo de aproximadamente 17,000 metros y un alcance de combate de alrededor de 1,200 kilómetros, que puede ser extendido mediante el uso de tanques de combustible externos.
            </p>
        </article>
        <br>
        <div class="ar">
            <article class="yu">
                <img src="img/snecma.PNG" alt="">
                <h4>SNECMA Atar 9B</h4>
            </article>
        </div>
        
        <br>
        <article>
            <p>   En cuanto a armamento, el Mirage III puede estar equipado con una combinación de misiles aire-aire (como el Matra R530 y el AIM-9 Sidewinder), bombas de caída libre, cohetes y, en algunas versiones, un cañón DEFA de 30 mm. La versatilidad en su armamento le permite desempeñar una amplia gama de misiones, desde la interceptación hasta el ataque terrestre.</p>
        </article>
      </section>
      <section>
        
        <div class="ar">
            <article class="yu">
                <img src="img/matra r.PNG" alt="">
                <h4>Misil Matra R530</h4>
            </article>
        </div>
      </section>
      <br>
      <div class="tu">
             <h2>Variantes y Producción</h2>
      </div>
      <section>
           <article>
            <p>
                A lo largo de su vida útil, el Mirage III fue producido en numerosas variantes para cumplir con diferentes roles y necesidades de diversas fuerzas aéreas. Las principales variantes incluyen:
                

                <ul>
                    <br>
                    <li>Mirage IIIE: Versión multirrol equipada con un radar más avanzado y capacidad para llevar una variedad de armamento aire-tierra y aire-aire. Fue la versión más producida y utilizada por varias fuerzas aéreas.</li>
                    <br>
                    <li>Mirage IIIC: Variante de caza interceptor puro, la primera en entrar en servicio operativo con la Fuerza Aérea Francesa en 1961. Estaba optimizada para combate aire-aire.</li>
                    <br>
                    <li>Mirage IIIR: Versión de reconocimiento, equipada con cámaras en lugar del radar para realizar misiones de reconocimiento fotográfico.</li>
                    <br>
                    Además de estas, hubo muchas otras variantes y subvariantes desarrolladas para exportación o adaptadas para misiones específicas. En total, se fabricaron alrededor de 1,422 unidades del Mirage III.
                </ul>
            </p>
           </article>
      </section>
      <br>
      <div class="tu">
        <h2>Operaciones y Desempeño</h2>
    </div>
    <br>
    <section>
        <article>
            <p>El Mirage III ha sido utilizado por más de 20 fuerzas aéreas alrededor del mundo, incluyendo las de Francia, Israel, Argentina, Australia, Sudáfrica y Brasil. Su desempeño en combate ha sido probado en numerosos conflictos.</p>
        </article>
    </section>
    <br>
    <section>
        <article>
            <h3>Guerra de los Seis Días</h3>
            <p>Una de las participaciones más notables del Mirage III fue durante la Guerra de los Seis Días en 1967, cuando la Fuerza Aérea Israelí utilizó estos aviones para destruir la aviación árabe en tierra en el marco de la operación "Focus". Los Mirage III israelíes demostraron ser extremadamente efectivos, proporcionando superioridad aérea y contribuyendo significativamente a la rápida victoria de Israel.</p>
        </article>

    </section>
    <br>
    <section>
        <div class="ar">
            <article class="yu">
                <img src="img/mirage6dias.jfif" alt="">
                <h4>Guerra de los Seis Días</h4>
            </article>
    
        </div>
    </section>
    <section>
        <article>
            <h3>Guerra de Malvinas</h3>
        <p>Otra destacada participación fue durante la Guerra de Malvinas en 1982, donde la Fuerza Aérea Argentina empleó los Mirage III y sus derivados (como el Dagger) contra la flota británica. Aunque se enfrentaron a desafíos significativos debido a la avanzada tecnología y táctica de los británicos, los Mirage III demostraron ser robustos y capaces, realizando misiones de interceptación y ataque bajo condiciones difíciles.</p>
        </article>
    </section>
    <br>
    <div class="tu">
        <h2>Impacto y Legado</h2>
    </div>
    <br>
    <section>
        <article>
            <p>
                El Mirage III no solo fue un hito tecnológico para la aviación militar francesa, sino que también sentó las bases para futuros desarrollos en la familia de aviones Mirage. Su éxito en combate y su adaptabilidad a diferentes misiones lo convirtieron en uno de los cazas más influyentes de su época.
            </p>
        </article>
        <br>
        <article>
            <p>
                El Mirage III también influyó en el diseño y desarrollo de otros aviones de combate, tanto en Francia como en otros países. Su configuración de ala delta fue adoptada y adaptada en diversos aviones posteriores, y su capacidad para operar en diferentes roles inspiró la creación de cazas multirrol en todo el mundo.
            </p>
        </article>
        <br>
        <article>
            El Mirage III es un símbolo de innovación y éxito en la aviación militar. Desde su primer vuelo en la década de 1950 hasta su participación en conflictos globales, ha demostrado ser un avión versátil y efectivo. Su diseño innovador, rendimiento superior y capacidad para adaptarse a múltiples roles lo han asegurado un lugar destacado en la historia de la aviación.
        </article>
    </section>
  
    </main>

    <footer>
        <article>
            <br>
            <p>Derechos Reservados a Enciclo-Guerra</p>
            <i class='bx bxl-discord-alt'></i>
            <i class='bx bxl-instagram' ></i>
            <i class='bx bx-book'></i>
            <br>
        </article>
    </footer>
    
</body>
</html>