<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>La Segunda Guerra Mundial</title>
    <link rel="stylesheet" href="/css/ww2.css">
</head>
<body>
    
    <header>
            <nav>
                <article>
                    <h1>EncicloGuerra</h1>
                </article>
          <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/views/masdatos.html">Mas Datos Belicos</a></li>
          </ul>
            </nav>
    </header>
<main>
         <br> 
         <br>
         <br>
         <br>
         <br>
         <br>
        
         <div class="tu">
            <h2>La Segunda Guerra Mundial</h2>
         </div>
      
         <br>
         <section>
            <br>
            <article>
                      <p>La Segunda Guerra Mundial (1939-1945) fue el conflicto armado más devastador y global en la historia de la humanidad, involucrando a la mayoría de las naciones del mundo en dos alianzas opuestas: los Aliados y las Potencias del Eje. Este conflicto tuvo profundas raíces en las secuelas de la Primera Guerra Mundial, las tensiones económicas y políticas globales, así como el surgimiento de regímenes totalitarios y expansionistas en Europa y Asia.</p>
            </article>

         </section>
         <br>
         <div class="tu">
            <h2>Antecedentes y Causas</h2>
         </div>
         <section>
            <br>

            <article>

                <h3>Secuelas de la Primera Guerra Mundial</h3>
                <p>El Tratado de Versalles (1919), que puso fin a la Primera Guerra Mundial, impuso duras condiciones a Alemania, incluyendo enormes reparaciones económicas y la pérdida de territorios. Esto generó resentimiento y sentimientos nacionalistas en Alemania, y sentó las bases para el ascenso del nazismo bajo el liderazgo de Adolf Hitler. Además, el colapso de los imperios centrales y la creación de nuevos estados en Europa Central y Oriental dejaron una región inestable y propensa a futuros conflictos.</p>

            </article>
         <br>
            <article>

                <h3>Ascenso del Fascismo y el Nazismo</h3>
                <p>En Italia, Benito Mussolini estableció un régimen fascista en la década de 1920, promoviendo un nacionalismo agresivo y un estado autoritario. En Alemania, la Gran Depresión exacerbó la inestabilidad política y económica, permitiendo a Hitler y su Partido Nazi ascender al poder en 1933. Hitler buscó rearmar a Alemania y expandir sus fronteras para establecer un "espacio vital" para el pueblo alemán, en lo que se conoció como lebensraum.</p>

            </article>
            <br>
            <article>

                <h3>Expansionismo Japonés</h3>
                <p>
                    Japón, buscando asegurar recursos naturales y expandir su imperio en Asia, comenzó a expandirse militarmente en China desde la década de 1930. La invasión de Manchuria en 1931 y la posterior Segunda Guerra Sino-Japonesa (1937-1945) desencadenaron tensiones con las potencias occidentales y marcaron el inicio de un conflicto que se extendió más allá de Asia.
                </p>

            </article>
            <br>
            <article>
                    <h3>Política de Apaciguamiento</h3>
                    <p>Ante la agresión de las potencias del Eje, muchas naciones occidentales adoptaron una política de apaciguamiento en un intento de evitar otro conflicto mundial. Esto llevó a concesiones diplomáticas significativas hacia Alemania e Italia, permitiendo su expansión territorial y militar sin una oposición efectiva inicialmente.</p>
            </article>
            <br>

         </section>
         <br>
         <div class="tu">
            <h2>Desarrollo y Fases de la Guerra</h2>
         </div>
         <section>
         <br>
            <article>
                <h3>Invasión de Polonia y Guerra Relámpago (1939-1940)</h3>
                <p>El 1 de septiembre de 1939, Alemania invadió Polonia, marcando el inicio oficial de la Segunda Guerra Mundial. Esto llevó a que Francia y el Reino Unido declararan la guerra a Alemania. La Blitzkrieg o "guerra relámpago" alemana demostró ser efectiva, permitiendo rápidas conquistas en Polonia, Dinamarca, Noruega, Países Bajos, Bélgica y Francia. Para 1940, gran parte de Europa occidental estaba bajo control nazi.
                </p>
            </article>
            <br>
            <article>
                <h3>Batalla de Inglaterra y el Frente Occidental (1940-1944)</h3>
                <p>Tras la rendición de Francia, Gran Bretaña se enfrentó sola a Alemania en la Batalla de Inglaterra (1940), una campaña aérea intensa que vio la resistencia británica y la retirada de los planes de invasión alemana. El frente occidental se mantuvo relativamente estático hasta 1944, cuando los Aliados lanzaron la invasión de Normandía (Operación Overlord) el 6 de junio de 1944, conocido como Día D, marcando el comienzo de la liberación de Europa occidental del dominio nazi.
                </p>
            </article>
            <br>
            <article>
                <h3>Frente Oriental y Barbarroja (1941-1945)</h3>
                <p>En junio de 1941, Alemania traicionó el pacto de no agresión con la Unión Soviética y lanzó la invasión más grande de la historia, la Operación Barbarroja. A pesar de avances iniciales significativos, la resistencia soviética y las duras condiciones invernales frenaron el avance alemán. La Batalla de Stalingrado (1942-1943) marcó un punto de inflexión crucial, con una derrota decisiva para Alemania y el inicio de la contraofensiva soviética que llevaría a la liberación de Europa oriental.
                </p>
            </article>
            <br>
            <article>
               <h3>Guerra en el Pacífico (1941-1945)</h3>
               <p>En el Pacífico, Japón expandió su imperio a través de invasiones en China, el sudeste asiático y las islas del Pacífico. El ataque sorpresa a Pearl Harbor el 7 de diciembre de 1941 llevó a Estados Unidos a entrar en guerra contra Japón y sus aliados. La lucha en el Pacífico fue feroz, incluyendo batallas cruciales como Midway, Guadalcanal y Okinawa, que finalmente llevaron a la rendición de Japón después de los bombardeos atómicos de Hiroshima y Nagasaki en agosto de 1945.
            </p>
            </article>
         </section>
         <br>
         <div class="tu">
            <h2>Consecuencias y Legado</h2>
         </div>
         <section>
            <br>
            <article>
                <h3>Costo Humano y Genocidio</h3>
                <p>La Segunda Guerra Mundial resultó en más de 70 millones de muertes, incluyendo civiles y militares. El Holocausto, el genocidio sistemático de seis millones de judíos y millones de otros grupos étnicos por parte del régimen nazi, destacó el horror y la brutalidad del conflicto.
                </p>
            </article>
            <br>
            <article>
                <h3>Reordenamiento Global y la Guerra Fría</h3>
                <p>Después de la guerra, el equilibrio de poder mundial cambió drásticamente. Estados Unidos y la Unión Soviética emergieron como superpotencias dominantes, iniciando una era de rivalidad conocida como la Guerra Fría. La división de Europa en bloques oriental y occidental y la formación de la ONU en 1945 fueron respuestas a los desafíos globales y la prevención de futuros conflictos.
                </p>
            </article>
            <br>
            <article>
                <h3>Reconstrucción y Desarrollo Económico</h3>
                <p>Muchas naciones enfrentaron enormes desafíos de reconstrucción después de la guerra. Sin embargo, la Segunda Guerra Mundial también marcó períodos de rápido crecimiento económico y desarrollo tecnológico, impulsando avances en medicina, aviación, informática y otros campos.</p>
            </article>
         </section>
    </main>


    <footer>
        <article>
            <br>
            <p>Derechos Reservados a Enciclo-Guerra</p>
            <i class='bx bxl-discord-alt'></i>
            <i class='bx bxl-instagram' ></i>
            <i class='bx bx-book'></i>
            <br>
        </article>
    </footer>

</body>
</html>